<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="bg-sky-600 text-white">
      <div class="container mx-auto px-4 md:flex items-center gap-6">
        <!-- Logo -->
        <div class="flex items-center justify-between md:w-auto w-full">
          <a href="/" class="py-5 px-2 text-white flex-1 font-bold"
            >Lego Collection</a
          >

          <!-- mobile menu icon -->
          <div class="md:hidden flex items-center">
            <button type="button" class="mobile-menu-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
                />
              </svg>
            </button>
          </div>
        </div>

        <div
          class="hidden md:flex md:flex-row flex-col items-center justify-start md:space-x-1 pb-3 md:pb-0 navigation-menu"
        >
          <a href="/about" class="py-2 px-3 block active:bg-cyan-700">About</a>
          <!-- Dropdown menu -->
          <div class="relative">
            <button
              type="button"
              class="dropdown-toggle py-2 px-3 hover:bg-sky-800 flex items-center gap-2 rounded"
            >
              <span class="pointer-events-none select-none">Theme</span>
              <svg
                class="w-3 h-3 pointer-events-none"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </button>
            <div
              class="dropdown-menu absolute hidden bg-sky-700 text-white rounded-b-lg pb-2 w-48"
            >
              <a
                href="/lego/sets?theme=Harbor"
                class="block px-6 py-2 hover:bg-sky-800"
                >Harbor</a
              >
              <a
                href="/lego/sets?theme=Supplemental"
                class="block px-6 py-2 hover:bg-sky-800"
                >Supplemental</a
              >
              <a
                href="/lego/sets?theme=UFO"
                class="block px-6 py-2 hover:bg-sky-800"
                >UFO</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mx-auto">
      <div class="hero bg-slate-200 mt-4">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About Me</h1>
            <p class="py-6">
              My name is Tzu Han Chao, but you can call me Cheryl. I have an
              outgoing and lively personality and I really enjoy playing
              basketball. I don't have much interest in LEGO, but I created this
              project because of the assignment. I hope the professor won't
              deduct points for my honesty. It was nice to meet everyone, and I
              wish you all a wonderful day.
            </p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-1">
        <div class="w-full border-2 flex items-center justify-center">
          <figure>
            <img
              class="w-full object-cover"
              src="https://i.pinimg.com/736x/a0/74/c7/a074c71043d8d8c8a57ed469f9b14a0b.jpg"
              alt="card1"
            />
          </figure>
        </div>
        <div class="border-2 p-4 flex flex-col justify-center">
          <h1 class="text-3xl font-bold mb-8 text-center">
            Cheryl, Tzu Han Chao
          </h1>
          <div class="pl-10">
            <li>
              I love playing basketball and I am currently on the school
              basketball team.
            </li>
            <li>I am studying Computer Programming and Analysis at Seneca.</li>
            <li>I am cheerful and bright.</li>
            <li>My favorite programming language is JavaScript.</li>
            <li>I prefer writing backend code over frontend development.</li>
            <li>
              In my free time, I enjoy singing, playing the guitar, and dancing.
            </li>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/home.js"></script>
  </body>
</html>
