<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/navbar', { page: '/' }) %>
    <div class="container mx-auto">
      <div class="hero bg-slate-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Lego Collection</h1>
            <p class="py-6">
              Don't hesitate, join this amazing LEGO adventure now and
              experience the excitement and creativity that only Lego Collection
              can offer!
            </p>
            <a href="/lego/sets">
              <button class="btn btn-primary">Let's Go</button>
            </a>
          </div>
        </div>
      </div>

      <!-- cards -->
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4 px-2 py-2"
      >
        <div class="border-2">
          <figure>
            <img
              class="w-full h-64 object-cover"
              src="https://cdn.rebrickable.com/media/sets/0011-2.jpg"
              alt="card1"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Town Mini-Figures</h2>
            <p class="h-64">
              "Enhance your LEGO town with the Town Mini-Figures set! Featuring
              a sailor, a construction worker, and a townsperson, this classic
              collection adds charm and character to any scene. Perfect for
              creative play and building, it's a must-have for LEGO
              enthusiasts."
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/0011-2">
                <button class="btn btn-primary">Buy Now</button>
              </a>
            </div>
          </div>
        </div>

        <div class="border-2">
          <figure>
            <img
              class="w-full h-64 object-cover"
              src="https://cdn.rebrickable.com/media/sets/0011-3.jpg"
              alt="card1"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Castle 2 for 1 Bonus Offer</h2>
            <p class="h-64">
              "Expand your medieval kingdom with the LEGO Castle 2 for 1 Bonus
              Offer! This set includes two classic castle-themed builds,
              complete with knights, horses, and medieval accessories. Perfect
              for fans of all ages, it provides endless hours of imaginative
              play and adventure."
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/0011-3">
                <button class="btn btn-primary">Buy Now</button>
              </a>
            </div>
          </div>
        </div>

        <div class="border-2">
          <figure>
            <img
              class="w-full h-64 object-cover"
              src="https://cdn.rebrickable.com/media/sets/003-1.jpg"
              alt="card1"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Master Mechanic Set</h2>
            <p class="h-64">
              "Unlock your engineering potential with the LEGO Master Mechanic
              Set! This classic set features intricate builds and mechanical
              components, perfect for budding engineers and LEGO enthusiasts.
              Create dynamic models and explore endless possibilities with this
              timeless kit."
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/003-1">
                <button class="btn btn-primary">Buy Now</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
